# The following is adapted and extended from: https://github.com/github/gitignore

# Custom debug files
test.txt
test2.txt
test3.txt

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/